{% extends 'layouts/__products.html' %}

{% load static %}
{% load humanize %}

{% block title %} Boissons {% endblock %}

{% block topbar %} {% include 'shared/_topbar.html' with current="products" title="products_drink" %} {% endblock %}

{% block breadcrumb %} {% include 'shared/_breadcrumb.html' with current='products' title='drinks' %} {% endblock breadcrumb %}

{% block main %}
    <div class="row">
        <div class="col">
            <h1 class="h2">Boissons</h1>
        </div>
        <div class="col text-right">
            <a href="{% url 'eatsj:products_drink_create' %}" class="btn primary">
                <span class="icon">
                    <i class="material-icons">add</i>
                </span>&nbsp;
                <span>Ajouter</span>
            </a>
        </div>
    </div>

    <div class="grid of-sm-1 of-md-2 of-lg-3 of-xl-5 gap-2">
        {% for drink in object_list %}
            <div class="cell card">
                <div class="card-item product_image" style="background-image: url('{% if drink.image %} {{ drink.image.url }} {% else %} {% static '/img/default-food-image.jpg' %}  {% endif %}')">
                    <div class="product_content t-white">
                        <div class="title"><span>{{ drink.name }}</span> <span>({{ drink.nbr_liter|intcomma }} L)</span></div>
                        <div class="subtitle">{{ drink.price_init|intcomma }} F CFA</div>
                    </div>
                </div>
                <div class="card-item display as-flex justify-content-end">
                    <a href="{% url 'eatsj:products_drink_delete' pk=drink.pk %}" class="btn link transparent no-border t-danger p-0">
                        <span class="icon"><i class="material-icons h3">delete</i></span>
                    </a>
                    <a href="{% url 'eatsj:products_drink_details' pk=drink.pk %}" class="btn link transparent no-border t-info p-0 ml-1">
                        <span class="icon"><i class="material-icons h3">visibility</i></span>
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}