{% extends 'layouts/__products.html' %}

{% block title %} Ajout Plat {% endblock %}

{% block personal_head %}
    <!-- {% include 'shared/_css_importfile.html' %}
    {% include 'shared/_js_importfile.html' %} -->
{% endblock personal_head %}

{% block topbar %} {% include 'shared/_topbar.html' with current="products" title="products_food" %} {% endblock %}

{% block breadcrumb %} {% include 'shared/_breadcrumb.html' with current='products' title='foods_create' %} {% endblock breadcrumb %}

{% block main %}
    <h1 class="h2">Ajouter un nouveau plat</h1>


    <form class="t-grey mt-5" method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        <!-- {{ form }} -->

        
        {% if form.errors %}
            <div class="alert warning mb-5">
                {% for error in form.errors %}
                    <div>{{ error }}</div>
                {% endfor %}
            </div>
        {% endif %}

        <div class="grid of-2 gap-3">
            <div class="cell field">
                {{ form.name }}
                <div class="field-label">
                    <label for="{{ form.name.id_for_label }}">{{ form.name.label_tag }}</label>
                </div>
            </div>
            <div class="cell field">
                {{ form.price_init }}
                <div class="field-label">
                    <label for="{{ form.price_init.id_for_label }}">{{ form.price_init.label_tag }}</label>
                </div>
            </div>
            <div class="cell field colspan-all">
                {{ form.image }}
                <div class="field-label">
                    <label for="{{ form.image.id_for_label }}">{{ form.image.label_tag }}</label>
                </div>
            </div>
            <div class="cell colspan-all field">
                {{ form.description }}
                <div class="field-label">
                    <label for="{{ form.description.id_for_label }}">{{ form.description.label_tag }}</label>
                </div>
            </div>
        </div>
        
        <div class="text-center mt-5">
            <button type="submit" class="btn primary t-white">Enregistrer</button>
        </div>
    </form>

    <!-- <script>
        FilePond.registerPlugin(
            FilePondPluginImageCrop,
            FilePondPluginImagePreview,
            FilePondPluginImageResize,
            FilePondPluginImageTransform
        );

        const inputElement = document.querySelector('input[type="file"]');
        const pond = FilePond.create(inputElement, {
            imageCropAspectRatio: 1,
            imageResizeTargetWidth: 500,
            imageResizeTargetHeight: 300,
            imageResizeMode: 'contain',
            imageTransformVariants: {
                thumb_medium_: transforms => {
                    transforms.resize.size.width = 512;

                    // this will be a landscape crop
                    transforms.crop.aspectRatio = .5;

                    return transforms;
                }
            },
            onaddfile: (err, fileItem) => {
                console.log(err, fileItem.getMetadata('resize'));
            },
            onpreparefile: (fileItem, outputFiles) => {
                outputFiles.forEach(output => {
                    const img = new Image();
                    img.src = URL.createObjectURL(output.file);
                    console.log(img)
                    // document.body.appendChild(img);
                })
            }
        });
    </script> -->
{% endblock %}