{% extends 'layouts/__products.html' %}

{% block title %} Créer menu jour {% endblock %}

{# % block personal_head %}
{% endblock personal_head % #}

{% block topbar %} {% include 'shared/_topbar.html' with current="products" title="products_menu" %} {% endblock %}

{% block breadcrumb %} {% include 'shared/_breadcrumb.html' with current='products' title="menus_create" %} {% endblock breadcrumb %}

{% block main %}
    <h1 class="h2">Ajouter Menu du jour</h1>
    <div class="form_wrapper">
        <fieldset class="msf_hide">
            <h2>The first form</h2>
          <div>
              <input type="text" name="firstname" placeholder="First Name">
            <input type="text" name="lastname" placeholder="Last Name">
          </div>
          <div>
            <input type="email" name="email" placeholder=" Your Email">
          </div>
            <input type="button" name="back" value="Back"  onclick="msf_btn_back()">
              <input type="button" name="next" value="Next"  onclick="msf_btn_next()">
          <div class="msf_bullet_o"></div>
          <div class="msf_line"></div>
        </fieldset>
        
        <fieldset class="msf_hide">
            <h2>This is form 2</h2>
            <input type="text" name="school" placeholder="School">
            <input type="date" name="date" placeholder="Birthdate">
          <div>
            <input type="radio" name="gender" value="male" checked> Male<br>
            <input type="radio" name="gender" value="female"> Female<br>
            <input type="radio" name="gender" value="other"> Other
          </div>
          <input type="button" name="back" value="Back"  onclick="msf_btn_back()">
            <input type="button" name="next" value="Next"  onclick="msf_btn_next()">
          <div class="msf_bullet_o"></div>
          <div class="msf_line"></div>
        </fieldset>
        
        <fieldset class="msf_hide">
            <h2>The last form</h2>
            <input type="text" name="name" placeholder="Name">
            <input type="email" name="email" placeholder="Email">
          <input type="button" name="back" value="Back"  onclick="msf_btn_back()">
          <input type="button" name="next" value="Next"  onclick="msf_btn_next()">
            <input type="submit" name="submit" value="Submit Now!" onclick="">
          <div class="msf_bullet_o"></div>
          <div class="msf_line"></div>
        </fieldset>
        </div>


    <!-- <form class="t-grey mt-5" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        
        {% if form.errors %}
            <div class="alert warning mb-5">
                {% for error in form.errors %}
                    <div>{{ error }}</div>
                {% endfor %}
            </div>
        {% endif %}

        <div class="grid of-2 gap-3">
            <div class="cell field">
                {{ form.name }}
                <div class="field-label">
                    <label for="{{ form.name.id_for_label }}">{{ form.name.label_tag }}</label>
                </div>
            </div>
            <div class="cell field">
                {{ form.price_init }}
                <div class="field-label">
                    <label for="{{ form.price_init.id_for_label }}">{{ form.price_init.label_tag }}</label>
                </div>
            </div>
            <div class="cell field colspan-all">
                {{ form.image }}
                <div class="field-label">
                    <label for="{{ form.image.id_for_label }}">{{ form.image.label_tag }}</label>
                </div>
            </div>
            <div class="cell colspan-all field">
                {{ form.description }}
                <div class="field-label">
                    <label for="{{ form.description.id_for_label }}">{{ form.description.label_tag }}</label>
                </div>
            </div>
        </div>
        
        <div class="text-center mt-5">
            <button type="submit" class="btn primary t-white">Enregistrer</button>
        </div>
    </form> -->
{% endblock %}