{% extends 'layouts/__products.html' %}

{% block title %} Menus {% endblock %}

{% block topbar %} {% include 'shared/_topbar.html' with current="products" title="products_menu" %} {% endblock %}

{% block breadcrumb %} {% include 'shared/_breadcrumb.html' with current='products' %} {% endblock breadcrumb %}

{% block main %}
    <div class="row">
        <div class="col">
            <h1 class="h2">Menu</h1>
        </div>
        <div class="col text-right">
            <a href="{% url 'eatsj:products_menu_create' %}" class="btn secondary">
                <span class="icon">
                    <i class="material-icons">add</i>
                </span>&nbsp;
                <span>Créer le menu du jour</span>
            </a>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table striped centered">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Nombre de plat vendu</th>
                    <th>Nombre de boisson vendu</th>
                    <th>Gains (F CFA)</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>04/01/2021</td>
                    <td>15/20</td>
                    <td>20/20</td>
                    <td>20 000</td>
                    <td>
                        <div class="group">
                            <button class="btn link danger size-sm">Supprimer</button>
                            <button class="btn info size-sm">Détails</button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}