{% extends 'base.html' %}

{% block content %}
    <!-- {% include 'shared/_topbar.html' %} -->
    <div class="slim-content row gap-0 flex-nowrap w-100 p-0 min-vh-100 bg-secondary">
        {% block sidebar %}
            {% include 'shared/_sidebar.html' %}
        {% endblock %}
        <div class="col row gap-0 flex-col bg-white ml-0 mr-2 my-2" style="border-radius: 20px;">
            <header>
                {% block topbar %} {% include 'shared/_topbar.html' %} {% endblock topbar %}
                {% block breadcrumb %} {% include 'shared/_breadcrumb.html' %} {% endblock breadcrumb %}
            </header>

            <main class="col py-2 px-5">
                {% block main %}
                    <h1 class="h2">Page</h1>
                {% endblock %}
            </main>
        </div>
    </div>

    <div class="display as-block-sm pt-5">
        <h2 class="t-danger text-center">
            Vous ne pouvez pas utiliser l'application sur un petit écran
        </h2>
    </div>
{% endblock %}
