{% extends 'base.html' %}

{% block content %}
    {% include 'shared/_topbar.html' %}
    
    <div class="slim-content row gap-0 w-100 min-vh-100 hide-sm">
        {% block sidebar %}
            {% include 'shared/_sidebar.html' %}
        {% endblock %}

        <div class="col row flex-col">
            <main class="col bg-light">
                {% block main %}
                    <h1>Page</h1>
                {% endblock %}
            </main>
            {% include 'shared/_footer.html' %}
        </div>
    </div>
    <div class="display as-block-sm pt-5">
        <h2 class="t-danger text-center">
            Vous ne pouvez pas utiliser l'application sur un petit écran
        </h2>
    </div>
{% endblock %}