<nav class="breadcrumb light t-primary">
    <ul>
        {% if current == 'products' %}
            <li><a href="{% url 'eatsj:products_menu_list' %}">Produits</a></li>

            {% if title == 'foods' %}
                <li class="active"><a href="{% url 'eatsj:products_food_list' %}">Plats</a></li>
            {% elif title == 'foods_create' %}
                <li><a href="{% url 'eatsj:products_food_list' %}">Plats</a></li>
                <li class="active"><a href="{% url 'eatsj:products_food_create' %}">Ajout</a></li>
            {% elif title == 'foods_details' %}
                <li><a href="{% url 'eatsj:products_food_list' %}">Plats</a></li>
                <li class="active"><a href="{% url 'eatsj:products_food_details' pk=object.pk %}">Détails</a></li>

            {% elif title == 'drinks' %}
                <li class="active"><a href="{% url 'eatsj:products_drink_list' %}">Boissons</a></li>
            {% elif title == 'drinks_create' %}
                <li><a href="{% url 'eatsj:products_drink_list' %}">Boissons</a></li>
                <li class="active"><a href="{% url 'eatsj:products_drink_create' %}">Ajout</a></li>
            {% elif title == 'drinks_details' %}
                <li><a href="{% url 'eatsj:products_drink_list' %}">Boissons</a></li>
                <li class="active"><a href="{% url 'eatsj:products_drink_details' pk=object.pk %}">Détails</a></li>
            
            {% elif title == 'menus_create' %}
                <li><a href="{% url 'eatsj:products_menu_list' %}">Menus</a></li>
                <li class="active"><a href="{% url 'eatsj:products_menu_create' %}">Ajout menu du jour</a></li>
            {% else %}
                <li class="active"><a href="{% url 'eatsj:products_menu_list' %}">Menus</a></li>
            {% endif %}
        {% elif current == 'users' %}
            <li class="{% if not title %}active{% endif %}"><a href="{% url 'eatsj:user_list' %}">Utilisateurs</a></li>

            {% if title == 'create' %}
                <li class="active"><a href="{% url 'eatsj:user_create' %}">Ajout</a></li>
            {% elif title == 'details' %}
                <li class="active"><a href="{% url 'eatsj:user_details' pk=object.pk %}">Détails</a></li>
            {% endif %}
                        
        {% elif current == 'orders' %}
            <li class="active"><a href="{% url 'eatsj:order_list' %}">Commandes</a></li>
        {% elif current == 'histories' %}
            <li class="active"><a href="{% url 'eatsj:history_list' %}">Historique</a></li>
        {% else %}
            <li><a href="{% url 'eatsj:home' %}">Accueil</a></li>
            
            {% if title|default:'dashboard' == 'dashboard' %}
                <li class="active"><a href="{% url 'eatsj:home' %}">Dashboard</a></li>
            {% else %}
                <li class="active"><a href="{% url 'eatsj:home' %}">Leaderboard</a></li>
            {% endif %}
                
        {% endif %}
            
    </ul>
</nav>