{% load static %}

<nav class="sidebar col row gap-0 flex-col bg-secondary">
    <a class="sidebar-brand no-style group pt-4 pb-2 h3 t-white">
        <img src="{% static 'img/logo-white.svg' %}" alt="logo">
        <span>eat'sj</span>
    </a>

    <hr class="divider"><br>

    <ul class="col side-link white mt-4 t-white">
        <li class="{% if title|default:'home' == 'home' %}active{% endif %}">
            <a href="{% url 'eatsj:home' %}">
                <i class="material-icons">home</i>
                <span class="ml-1">Accueil</span>
            </a>
        </li>
        <li class="{% if title == 'orders' %}active{% endif %}">
            <a href="{% url 'eatsj:order_list' %}">
                <i class="material-icons">shopping_cart</i>
                <span class="ml-1">Commandes</span>
            </a>
        </li>
        <li class="{% if title == 'products' %} active {% endif %}">
            <a href="{% url 'eatsj:products_menu_list' %}">
                <i class="material-icons">restaurant_menu</i>
                <span class="ml-1">Produits</span>
            </a>
        </li>
        <li class="{% if title == 'users' %}active{% endif %}">
            <a href="{% url 'eatsj:user_list' %}">
                <i class="material-icons">people</i>
                <span class="ml-1">Utilisateurs</span>
            </a>
        </li>
        <li class="{% if title == 'histories' %}active{% endif %}">
            <a href="{% url 'eatsj:history_list' %}">
                <span class="material-icons">history</span>
                <span class="ml-1">Historiques</span>
            </a>
        </li>
    </ul>

    <br><hr class="divider"><br>

    <ul class="side-link white t-white">
        <li class="{% if title == 'account' %}active{% endif %}"><a href="{% url 'eatsj:account' %}">Compte</a></li>
        <li><a href="{% url 'eatsj:signout' %}">Déconnexion</a></li>
    </ul>

    <br>
    {% include 'shared/_footer.html' %}
</nav>