{% load static %}

{% comment %}
<nav class="nav white shadow-2 t-primary">
    <a href="{% url 'eatsj:home' %}" class="nav-brand no-style group py-1">
        <img src="{% static 'img/logo.svg' %}" alt="logo" style="width: 60px;">
        <span class="h3 t-primary">eat'sj</span>
    </a>
    <ul class="nav-link-right">
        <li class="nav-item"><a href="#">{{ request.user.username }}</a></li>
        <li class="nav-item"><a href="{% url 'eatsj:signout' %}">déconnexion</a></li>
    </ul>
</nav> 
{% endcomment %}
    

<nav class="topbar nav transparent t-grey shadow-1 px-5">
    <ul class="nav-link no-style">
        {% if current == 'home' %}
            <li class="nav-item {% if title == 'dashboard' %} active {% endif %}"><a class="py-4" href="{% url 'eatsj:home' %}">Dashboard</a></li>
            <li class="nav-item {% if title == 'leaderboard' %} active {% endif %}"><a class="py-4" href="{% url 'eatsj:leaderboard' %}">Leaderboard</a></li>
        {% elif current == 'products' %}
            <li class="nav-item {% if title == 'products_menu' %} active {% endif %}"><a class="py-4" href="{% url 'eatsj:products_menu_list' %}">Menus</a></li>
            <li class="nav-item {% if title == 'products_food' %} active {% endif %}"><a class="py-4" href="{% url 'eatsj:products_food_list' %}">Plats</a></li>
            <li class="nav-item {% if title == 'products_drink' %} active {% endif %}"><a class="py-4" href="{% url 'eatsj:products_drink_list' %}">Boissons</a></li>
            <!-- <li class="nav-item {% if title == 'products_drink' %} active {% endif %}"><a class="py-4" href="{% url 'eatsj:products_drink_list' %}">Formules</a></li> -->
        {% else %}

        {% endif %}
    </ul>
    <ul class="nav-link-right no-style">
        <li class="nav-item dropdown">
            <a class="py-4" href="#"><i class="material-icons">notifications</i></a>
            <ul class="no-style dropdown-content">
                <li>Msg 1</li>
                <li>Msg 2</li>
                <li>Msg 3</li>
            </ul>
        </li>
        <li class="nav-item">
            <a class="py-4" href="#">
                <i class="material-icons">face</i>
                <span class="ml-1">{{ request.user.username }}</span></a>
            </li>
    </ul>
</nav>