{% extends 'layouts/__app.html' %}

{% block title %} Utilisateurs {% endblock %}

{% block sidebar %} {% include 'shared/_sidebar.html' with title="users" %} {% endblock %}

{% block breadcrumb %} {% include 'shared/_breadcrumb.html' with current='users' %} {% endblock breadcrumb %}

{% block main %}
    <div class="row">
        <div class="col">
            <h1 class="h2">Utilisateurs</h1>
        </div>
        <div class="col text-right">
            <a href="{% url 'eatsj:user_create' %}" class="btn primary">
                <span class="icon">
                    <i class="material-icons">add</i>
                </span>&nbsp;
                <span>Ajouter</span>
            </a>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table centered striped">
            <thead class="bg-secondary t-white">
                <tr>
                    <th>Matricule</th>
                    <th>Nom complet</th>
                    <th>Sexe</th>
                    <th>Email</th>
                    <th>Téléphone</th>
                    <th>Est manager</th>
                    <th>État</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for user in object_list %}
                    <tr>
                        <td>{{ user.register }}</td>
                        <td>{{ user.last_name }} {{ user.first_name }}</td>
                        <td>{{ user.gender }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.phone }}</td>
                        <td>
                            {% if user.staff or user.is_superuser %}
                                oui
                            {% else %}
                                non
                            {% endif %}
                        </td>
                        <td>actif</td>
                        <td>
                            <div class="group">
                                <a href="{% url 'eatsj:user_delete' pk=user.pk %}" class="btn danger link size-sm">Supprimer</a>
                                <a href="{% url 'eatsj:user_details' pk=user.pk %}" class="btn info size-sm">Details</a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>


    <!-- <form action="" class="t-grey">
        
        {% for field in form %}
            <div class="field">
                {{ field }}

                <div class="field-label">
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                </div>
            </div>
        {% endfor %}

        <button type="submit" class="btn primary t-white">Enregistrer</button>
    </form> -->
{% endblock %}